<%= flash[:notice] if flash[:notice] %>

<h1>Congrats! You're now a member of the team!</h1>
<ul>
  <% member_info.each do |user|%>
  <li><%= user['name'] %></li>
  <% end %>
</ul>


<form method="post" action="/signup">
  <ul>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
    </li>
    <li>
      <label for="email">Email</label>
      <input type="text" name="email" id="email"/>
    </li>
    <li>
      <input type="submit" value="Sign Up!" />
    </li>
  </ul>
</form>